<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!-- Default: C:\Program Files\Medicail (user can change it in the wizard) -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Medicail" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Medicail" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />
  </Fragment>
</Wix>
